@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/fundo-barbearia-antiga.jpeg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px ;
    border: 1px solid #caa70b86 ;
    width: 530px;
    height: 530px;
    border-radius: 10px;
    box-shadow: #f7cc0e 0px 5px 15px;
   
    
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 3px  #f7cc0e;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
   
}
h2 {
    text-align: center;
    color: #ffffff;
    font-size: 30px; 
    font-family: "Bitter", serif;
     
  
}


 .input-box input {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f7f7f7;
    width: 250px;
    height: 55px;
    border: none;
    outline: none;
    border-bottom: solid 1px #ffffff;
    background: transparent; 
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    font-size: 15px;
    font-family: "Bitter", serif;
    
}

::placeholder {
    color:#ffffff;
    font-size: 16px;
    padding: 10px;
    text-shadow: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    
}

button {
    color: black;
    width: 200px;
    height: 50px;
    margin: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto ;
    
    display: block;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    
}
button:hover {
    background-color: #f7cc0e ;
    color: rgb(7, 7, 7);
}
.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;

}
.input-box input:hover {
    border-bottom: 1px solid #f5d20f;
    
  }
  .span-required {
    margin: 3px 0 0 1px;
    font-size: 13px;
    display: none;
    color: #DC143C;
    font-family: 'Poppins', sans-serif;
  }